@charset "UTF-8";
/*-----------------INICIA INDEX--------------------*/
* {
  padding: 0px;
  margin: 0px; }

.container {
  margin: 0 5%; }

.barra-navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }
  .barra-navegacion .barra-navegacion__logo {
    width: 30%; }
  .barra-navegacion .barra-navegacion__menu-nav {
    width: 30%; }
    .barra-navegacion .barra-navegacion__menu-nav .menu-nav__lista {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly; }
      .barra-navegacion .barra-navegacion__menu-nav .menu-nav__lista li {
        padding: 10px 15px 10px 15px;
        margin-left: 10px; }
        .barra-navegacion .barra-navegacion__menu-nav .menu-nav__lista li a {
          text-decoration: none;
          color: #000000;
          text-transform: uppercase;
          font-style: bold 500; }

.cuerpo__portafolio {
  margin: 0 5% 0 5%; }
  .cuerpo__portafolio .portafolio__presentacion {
    margin-top: 5%; }
    .cuerpo__portafolio .portafolio__presentacion .presentacion__container {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .cuerpo__portafolio .portafolio__presentacion .presentacion__container .presentacion__foto {
        width: 40%; }
        .cuerpo__portafolio .portafolio__presentacion .presentacion__container .presentacion__foto img {
          width: 90%;
          height: auto; }
      .cuerpo__portafolio .portafolio__presentacion .presentacion__container .presentacion__info {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Raleway", sans-serif; }
        .cuerpo__portafolio .portafolio__presentacion .presentacion__container .presentacion__info h1 {
          display: flex;
          flex-direction: column; }
  .cuerpo__portafolio .portafolio__proyectos {
    padding-top: 10%; }
    .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel {
      display: flex;
      justify-content: space-between; }
      .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card {
        margin-top: 50px;
        border: 2px solid #000000;
        color: #000000;
        width: 22%;
        height: 400px;
        text-decoration: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
        .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info {
          display: flex;
          flex-direction: column;
          height: 100%; }
          .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info .card-info__img {
            height: 65%;
            width: 100%;
            text-align: center;
            padding-top: 2%;
            margin-bottom: 1%; }
            .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info .card-info__img img {
              width: auto;
              height: 95%;
              border-radius: 5px; }
          .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info .card-info-texto {
            height: 40%;
            padding: 3%;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 14px;
            text-align: justify; }
            .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info .card-info-texto .texto-proyecto {
              display: flex;
              flex-direction: column; }
              .cuerpo__portafolio .portafolio__proyectos .proyectos__carrusel .proyectos__card .proyecto-card__info .card-info-texto .texto-proyecto .proyecto-nombre {
                font-weight: 700; }
  .cuerpo__portafolio .portafolio__hobbies {
    margin: 50px; }
    .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel {
      display: flex;
      justify-content: space-around; }
      .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card {
        margin-top: 50px;
        padding: 5px;
        border: 2px solid #000000;
        color: #000000;
        width: 22%;
        height: 450px;
        text-decoration: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
        .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-self: center; }
          .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info .card-info__img {
            height: 80%;
            width: 100%;
            display: flex;
            align-items: center; }
            .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info .card-info__img img {
              width: 100%;
              height: auto; }
          .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info .card-info__texto {
            height: 30%;
            padding: 1%;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 14px;
            text-align: justify; }
            .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info .card-info__texto .texto-hobbie {
              display: flex;
              flex-direction: column; }
              .cuerpo__portafolio .portafolio__hobbies .hobbies__carrusel .hobbies__card .hobbies-card__info .card-info__texto .texto-hobbie .hobbie-nombre {
                font-weight: 700;
                margin-bottom: 10px; }
  .cuerpo__portafolio .portafolio__sobre-mi {
    height: 500px;
    width: 100%; }
    .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor {
      height: 100%; }
      .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-img {
          height: 100%; }
          .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-img .img-info {
            height: 100%; }
            .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-img .img-info img {
              height: 95%;
              width: auto; }
        .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto {
          background-color: #000000;
          margin-left: 100px;
          width: 25%;
          height: 60%;
          padding-left: 2%;
          display: flex;
          align-items: center; }
          .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto .info-texto {
            height: 80%;
            width: 90%;
            background-color: #fff;
            box-shadow: 7px 3px 4px #fff;
            display: flex; }
            .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto .info-texto .texto-contacto {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly; }
              .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto .info-texto .texto-contacto li {
                color: #000000;
                list-style: none;
                font-family: "Raleway", sans-serif;
                font-weight: 500; }
                .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto .info-texto .texto-contacto li a {
                  font-size: 25px;
                  color: #fff; }
              .cuerpo__portafolio .portafolio__sobre-mi .sobre-mi__contenedor .contenedor-info .contenedor__info-texto .info-texto .texto-contacto .contacto {
                margin-left: 5%;
                padding: 5%;
                border-radius: 50px;
                color: #fff;
                background-color: #000;
                display: flex;
                justify-content: space-evenly; }

/*-----------------ACABA INDEX---------------------*/
